.speed-leaderboard-section{
    margin-top: 50px;
    .speed-test-global-option{
        h3{
            font-family: Work Sans;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            font-size: 30px;
            text-align: center;
            color: #EE0203;
            margin-bottom: 22px;
        }
        .global{
            list-style: none;
            display: block;
            text-align: center;
            li{
                text-align: left;
                position: relative;
                margin-bottom: 15px;
                width: 300px;
                display: inline-block;
                .square-box{
                    position: absolute;
                    left: -20px;
                    top: 20%;
                    width: 15px;
                    height: 15px;
                    border-radius: 25%;
                    border: 2px solid #C2D500;
                    background: #C2D500;
                }
                .timer{
                    margin-left: 70px;
                    font-family: Work Sans;
                    font-style: normal;
                    font-weight: normal;
                    line-height: normal;
                    font-size: 18px;
                    text-align: right;
                    color: #00AEEF;
                }
            }
        }
    }
    .speed-test-daily-option{
        margin-top: 50px;
        h3{
            font-family: Work Sans;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            font-size: 30px;
            text-align: center;
            color: #EE0203;
            margin-bottom: 22px;
        }
        .daily{
            list-style: none;
            display: block;
            text-align: center;
            li{
                text-align: left;
                position: relative;
                margin-bottom: 15px;
                width: 300px;
                display: inline-block;
                .square-box{
                    position: absolute;
                    left: -20px;
                    top: 20%;
                    width: 15px;
                    height: 15px;
                    border-radius: 25%;
                    border: 2px solid #C2D500;
                    background: #C2D500;
                }
                .timer{
                    margin-left: 70px;
                    font-family: Work Sans;
                    font-style: normal;
                    font-weight: normal;
                    line-height: normal;
                    font-size: 18px;
                    text-align: right;
                    color: #00AEEF;
                }
            }
        }
    }
}


.speed-success-section{
    .speed-success-option{
        .success-tick{
            text-align: center;
        }
        .success-description{
            text-align: center;
            h3{
                font-family: Work Sans;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                font-size: 30px;
                text-align: center;
                color: rgba(0, 0, 0, 0.87);
                margin-top: 20px;
                margin-bottom: 2px;
            }
            p{
                font-family: Work Sans;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 24px;
                text-align: center;
                color: rgba(0, 0, 0, 0.87);
                margin-bottom: 10px;
            }
            .time-option{
                font-family: Work Sans;
                font-style: normal;
                font-weight: bold;
                line-height: normal;
                font-size: 30px;
                text-align: center;
                color: #00AEEF;
            }
        }

        .leader-button{
            display: block;
            margin: 0 auto;
            width: 350px;
            padding: 11px 0px;
            font-family: Work Sans;
            font-style: normal;
            font-weight: bold;
            line-height: normal;
            font-size: 18px;
            color: #FFFFFF;
            border: none;
            background: #EE0203;
            margin-top: 20px;
        }
        .leader-button:hover{
            color: #FFFFFF;
        }
        .leader-button:active{
            background: #EE0203;
            border: none;
        }
        .leader-button:focus{
            box-shadow: none;
        }
        .leader-button:active:focus{
            box-shadow: none;
        }
    }
}

@media(max-width:450px){
    .speed-success-section{
        .speed-success-option{
            .success-tick{
                svg{
                    height: 86px;
                    width: 86px;
                }
            }
            .success-description{
                h3{
                    font-weight: normal;
                    font-size: 24px;
                    margin-top: 30px;
                    margin-bottom: 15px;
                }
                p{
                    font-weight: 300;
                    font-size: 18px;
                }
                .time-option{
                    font-size: 24px;
                }
            }
            .leader-button{
                font-size: 16px;
                width: 300px;
                padding: 9px 0px;
            }
        }
    }
}



.bd-example-modal-lg{
    .modal-dialog{
      .leave-modal-content {
        .close{
          span{
            float: right;
            margin-right: 10px;
            margin-top: 10px;
            color: red;
          }
        }
        .m-c{
          font-size: 24px;
          line-height: 29px;
          text-align: center;
          color: #ED1C24;
          text-transform: capitalize;
          font-weight: 600;
        }
  
        .mdcontent{
          padding: 30px;
          padding-top: 0px;
          .custom-col{
            padding-left: 10px;
            padding-right: 10px;
            .all-data{
              background: #FFFFFF;
              border: 1px solid rgba(0, 0, 0, 0.08);
              box-sizing: border-box;
              box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04);
              border-radius: 5px;
              padding: 10px;
              margin-top: 20px;
              height: 145px;
              div{
                font-size: 14px;
                line-height: 20px; 
                color: rgba(0, 0, 0, 0.54);
                span{
                  font-size: 14px;
                  font-weight: 600;
                  margin-right: 5px;
                }
              }
              
            }
          }
        }
      }
    }
  }