// #circle {
//   width: 330px;
//   height: 330px;
//   border-radius: 50%;
//   margin: 0 auto;
//   border: 2px solid #C4C4C4;
//   position: relative;
// }

// .section-time-line {
//   padding: 50px;
// }

// .circle-inside {
//   text-align: center;
//   height: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;

//   h1 {
//     width: 150px;
//     height: 150px;
//     background: #ED1C24;
//     border-radius: 50%;
//     color: #fff;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     text-transform: uppercase;
//   }
// }


// .list-circle {
//   position: absolute;
//   top: 0;
//   right: 0;
//   margin-bottom: 0;

//   li {
//     a {
//       display: inline-block;
//       line-height: 23px;
//       font-size: 18px;
//       color: rgba(0, 0, 0, 0.54);
//       text-decoration: none;
//       border-radius: 3px;

//       .c-width {
//         width: 14px;
//         height: 14px;
//         border-radius: 50%;
//         background-color: #ED1C24;
//         display: inline-block;
//       }
//     }
//   }

// }

//  * jQuery Circle Menu 


.circle-menu {
  position: relative;
  // z-index: 1;
  padding: 100px;
}

.circle-menu.is-draggable-horizontal {
  cursor: e-resize;
}

.circle-menu.is-draggable-vertical {
  cursor: n-resize;
}

.circle-menu__circle {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  position: relative;
  width: 500px;
  height: 500px;
}

.circle-menu__circle__item {
  width: 0;
  height: 100%;
  position: absolute;
  margin: 0 50%;
  cursor: auto;
}

.circle-menu__circle__item__inner {
  position: absolute;
  left: 50%;
  bottom: 98% !important;
  margin-left: -5px;
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #333;
}

.circle-menu__circle__svg {
  height: 100%;
  overflow: visible;
}

.circle-menu__circle__svg__circle {
  fill: transparent;
  stroke: #333;
  stroke-width: 1;
}

.circle-menu__circle__svg__line {
  fill: transparent;
  stroke: black;
  stroke-width: 1;
  stroke-dasharray: 315;
  stroke-dashoffset: 315;
  -webkit-transition: stroke-dashoffset 1s;
  transition: stroke-dashoffset 1s;
}

// custom
.wheel span {
  display: block;
  // background-color: #ccc;
  position: absolute;
  width: 50px;
  box-sizing: border-box;
}

.circle-menu__circle__item.position--top span {
  left: -30px;
  bottom: 20px;
  // text-align: center;
}

.circle-menu__circle__item.position--top-right span {
  left: 20px;
  bottom: 20px;
  text-align: left;
}

.circle-menu__circle__item.position--right span {
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  text-align: left;
}

.circle-menu__circle__item.position--bottom-right span {
  left: 20px;
  top: 20px;
  text-align: left;
}

.circle-menu__circle__item.position--bottom span {
  left: -80px;
  top: 20px;
  
}

.circle-menu__circle__item.position--bottom-left span {
  right: 20px;
  top: 20px;
  text-align: right;
}

.circle-menu__circle__item.position--left span {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
}

.circle-menu__circle__item.position--top-left span {
  right: 20px;
  bottom: 20px;
  text-align: right;
}
.circle-menu__circle__item__inner {
    position: absolute;
    left: 50%;
    bottom: 99%;
    margin-left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ED1C24;
    border: 2px solid #ED1C24;
}
.wheel span{
	width: 275px;
  // background-color: #f1f1f1;
  // padding: 10px;
  cursor: pointer;

}
.wheel span a{
	color: rgba(0, 0, 0, 0.54);
	font-size: 14px;
	display: block;
  text-decoration: none;
}
.circle-menu__circle__svg__circle {
    fill: transparent;
    stroke: silver;
    stroke-width: 1;
}
.menu-click-section{
	position: absolute;
    top: 38%;
    left: 0;
    right: 0;
    text-align: center;
}
.menu-click-section a {
    width: 150px;
    height: 150px;
    background: #ED1C24;
    display: block;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    margin: 0 auto;
    border-radius: 50%;
    color: #fff;
    font-size:20px;
}
.menu-home-all{
  position: relative;
}
.circle-menu__circle__svg{
  overflow: visible!important;
}
